.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cart-empty {
    text-align: center;
  }
  
  .button-cart-empty {
    background-color: olive;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
  }
  
  .button-cart-empty:hover {
    background-color: darkolivegreen;
  }
  
  .products-cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .product-cart {
    margin: 20px;
    text-align: center;
  }
  
  .image-product-cart {
    max-width: 100px;
  }
  
  .info-product-cart {
    margin-bottom: 5px;
  }
  
  .controls-cart {
    margin-top: 20px;
    text-align: center;
  }
  
  .button-go-checkout,
  .button-clear-cart {
    background-color: olive;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .button-go-checkout:hover,
  .button-clear-cart:hover {
    background-color: darkolivegreen;
  }