.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-image: url('../../../public/img/pxfuel.jpg');
}
.categorie-navbar{
    text-decoration: none;
    font-family: Raleway;
    font-size: 40pt;
    font-weight: bold;
    color: white;
    margin: 30px;
    
}