.counter-container {
    display: flex;
    align-items: center;
  }
  
  .counter-value {
    margin-right: 10px;
    font-size: 16px;
    color: olive; 
  }
  
  .counter-buttons {
    display: flex;
  }
  
  .counter-button {
    margin-right: 5px;
    padding: 5px 10px;
    background-color: olive;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .counter-button:hover {
    background-color: darkolivegreen; 
  }